{% extends 'recruiter/base_recruiter.html' %}
{% load form_utils %}


{% block content %}
<div class="job-list">
    <div class="recruit-search">
        <h2>Candidate Search</h2>

        <ul class="tabs">
            <li><a href="#" id="search_tab_first" data-toggle="tab" data-target="#candidate_search fieldset:eq(0)">General</a></li>
            <li><a href="#" data-toggle="tab" data-target="#candidate_search fieldset:eq(1)">Experience</a></li>
            <li><a href="#" data-toggle="tab" data-target="#candidate_search fieldset:eq(2)">Travel</a></li>
            <li><a href="#" data-toggle="tab" data-target="#candidate_search fieldset:eq(3)">Employment</a></li>
        </ul>
        <form id="candidate_search" method="GET" action="">
            {{ form|render }}
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="results">
        <h2>Results - {{ search_type }}</h2>

        {% include "recruiter/search_candidates.html" %}
        {% include "recruiter/job_list_pagination.html" %}
    </div>

{% endblock content %}


{% block endpage %}
<div id="recruit-view-profile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="recruit-view-profile-label" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="recruit-view-profile-label">Candidate Detail</h3>
    </div>
    <div class="modal-body-candidate">
        <iframe width="915" height="400" style="border:none"></iframe>
    </div>
</div>

<script>
$().ready(function() {
    $("#search_tab_first").tab("show");

    $("#recruit-view-profile").on("hidden", function() {
        $(this).data("modal").$element.removeData();
    });

    $("#recruit-view-profile").on("show", function() {
        var modal = $(this).data("modal"),
            iframe_url = modal.options.iframeurl,
            iframe = modal.$element.find("iframe");

        iframe.prop("src", iframe_url);
    });
});
</script>
{% endblock endpage %}
