{% extends 'recruiter/base_recruiter.html' %}
{% load form_utils %}


{% block content %}
<div class="job-list">

    <div class="search">
        <h2>Job filtering</h2>
        <form method="GET" action="">
            {{ filter_form|render }}
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="results">
        <h2>Job Results</h2>
        <div class="inset">
            <ul>
                {% for k, v in job_status_choices %}
                    <li><a href="?{{ filter_search_params }}&amp;job_status={{ k }}">{{ v }}</a></li>
                {% endfor %}
                <li><a href="?{{ filter_search_params }}&amp;job_status=ALL">All</a></li>
            </ul>

            <table>
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>ID</th>
                        <th>Vessel</th>
                        <th>Department</th>
                        <th>Sector</th>
                        <th>Rank</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in page_obj.object_list %}
                        <tr class="{% cycle 'odd' 'even' %}">
                            <td>{{ i.get_job_status_display }}</td>
                            <td><a href="{% url 'recruiter:job-workflow' pk=i.id %}">{{ i.id }}</a></td>
                            <td>{{ i.vessel }}</td>
                            <td>{{ i.department }}</td>
                            <td>{{ i.sector }}</td>
                            <td>{{ i.rank }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% include "recruiter/job_list_pagination.html" %}

    </div>

{% endblock content %}


{% block endpage %}
<script>
$().ready(function() {
    var department_ranks = {{ department_ranks|safe }},
        rank_inputs = $("input[name='rank']"),
        dept_inputs = $("input[name=department]");

    var showhide_ranks = function(dept_id, show, keep_values) {
        var dept_ranks = department_ranks[dept_id];

        if (dept_ranks === undefined) {
            return;
        }

        $.each(dept_ranks, function(index, rank_id) {
            rank_inputs.filter("[value='" + rank_id + "']").each(function(index, rank_input) {
                var rank = $(rank_input),
                    rank_li = rank.parents("li").first();

                if (!keep_values) {
                    rank.prop("checked", false);
                }

                if (show) {
                    rank_li.show(0);
                } else {
                    rank_li.hide(0);
                }
            });
        });
    };

    dept_inputs.on("change", function() {
        var dept_id = $(this).val(),
            dept_checked = $(this).prop("checked");

        showhide_ranks(dept_id, dept_checked, false);
    });

    dept_inputs.each(function(index, dept_input) {
        var dept_id = $(dept_input).val(),
            dept_checked = $(dept_input).prop("checked");

        showhide_ranks(dept_id, dept_checked, true);
    });
});
</script>
{% endblock %}
