{% extends "base.html" %}
{% load thumbnail %}


{% block content %}
<div class="content news-main">
    <h3>{% block list_title %}Events{% endblock %}</h3>

    <div class="set">
        <aside class="related equal">
            <ul class="news">
                {% for i in object_list %}
                    {% if not forloop.counter|divisibleby:2 %}
                        <li class="post">
                            <a href="{{ i.get_absolute_url }}">
                                {% if i.image %}
                                    {% thumbnail i.image "122x79" crop as thumb %}
                                    <img src="{{ thumb.url }}" alt="{{ i.title }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
                                {% endif %}

                                {{ i.title }}
                                <strong>{{ i.start|date:"d M Y" }}{% if i.start != i.end %} - {{ i.end|date:"d M Y" }}{% endif %}</strong>
                                {% if i.summary %}
                                    {{ i.summary|linebreaks }}
                                {% else %}
                                    {{ i.content|safe|truncatewords_html:15 }}
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </aside>
        <aside class="related second equal">
            <ul class="news">
                {% for i in object_list %}
                    {% if forloop.counter|divisibleby:2 %}
                        <li class="post">
                            <a href="{{ i.get_absolute_url }}">
                                {% if i.image %}
                                    {% thumbnail i.image "122x79" crop as thumb %}
                                    <img src="{{ thumb.url }}" alt="{{ i.title }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
                                {% endif %}

                                {{ i.title }}
                                <strong>{{ i.start|date:"d M Y" }}{% if i.start != i.end %} - {{ i.end|date:"d M Y" }}{% endif %}</strong>
                                {% if i.summary %}
                                    {{ i.summary|linebreaks }}
                                {% else %}
                                    {{ i.content|safe|truncatewords_html:15 }}
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </aside>
    </div>


</div>
{% endblock content %}
