{% extends jobsatsea_base_template %}


{% block content %}
<div class="content centre clear">
    <div id="jos">
        <h1>Jobs</h1>

        <p style="margin: 0 21px;">
            Thank you for your application.<br><br>
            One of our consultants will be in contact with you if your application has been successful. If you do not hear from us within 2 weeks of making your applications, please consider that you may have been deemed unsuitable for the particular job that you have applied for.
        </p>

        <p style="margin:21px 21px 1em 21px;">
            <a href="#" onclick="window.history.back(); return false;">Go back to job listing</a>
        </p>
    </div>
</div>
{% endblock content %}


{% block endhead %}{% endblock %}
