{% load viking_events thumbnail %}

<div class="{{ css_classes }}">
    <h3><a href="{% url 'blanc_basic_events:event-list' %}">Latest Viking Events</a></h3>

    {% get_upcoming_viking_events object.number_of_events|default:3 as latest_events %}
    <ul class="events">
        {% for h,i in latest_events %}
            <li class="post">
                <a href="{{ i.get_absolute_url }}">
                    {% if i.image %}
                        {% thumbnail i.image 79x51 crop as thumb %}
                        <img src="{{ thumb.url }}" height="{{ thumb.height }}" width="{{ thumb.width }}" alt="{{ i.title }}" />
                    {% endif %}

                    {{ i.title }}<br />
                    <p><i>{{ i.start|date:"d M Y" }}{% if i.start != i.end %} - {{ i.end|date:"d M Y" }}{% endif %}</i><br />

                    <p>{{ i.description|striptags|safe|truncatewords_html:15 }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'blanc_basic_events:event-list' %}" class="more">More Viking Events</a>
</div>
