{% extends "base_email.html" %}


{% block title %}REGISTRATION{% endblock %}


{% block content %}
Congratulations on starting your Viking personal portfolio.
<br><br>
Login URL:
<br>
<a href="{{ protocol }}://{{ site.domain }}{% url 'profiles:profile-edit-home' %}">{{ protocol }}://{{ site.domain }}{% url 'profiles:profile-edit-home' %}</a>
<br><br>
Username:
<br>
{{ new_user.email }}
<br><br>
Please take your time in completing your details: giving us an accurate statement of your certification and experience to date, allows us to match you with the most suitable client. It also helps us to identify you more quickly and effectively in order to place your CV with the client more rapidly.
<br><br>
If you happen to accidentally log out, or your browser freezers or crashes, you will not lose your hard work: when you log on again, you can complete the rest of your profile.
{% endblock content %}
